#logSign{
	width: 50vw;
	margin-top: auto;
}

#logSignCont{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*header*/
.header-text{
	color: #3f3f3f;
	font-size: 20px;
}

/*plots.html*/

#collectiveContainer{
	margin-top: 5vh;
}
#plots {
	border: 1px solid #cecece;
	padding: 10px;
	height: 70vh;
	overflow-y: scroll;
}
#requestContainer{
	height: 80vh;
}
#requestForm{
	overflow: scroll;
	height: 64vh;
	padding: 10px;
	border: 1px solid #cecece;
	margin-bottom: 5px;
}
#plotContainer{
	height: 80vh;
}

/*login.html*/

#loginPanel{
	width: 30vw;
	padding: 30px;
	margin-top: 10vh;
}

/*application.html*/
.appplots{
	padding: 2px;
	height: 15vh;
	overflow: scroll;
	background: white;
}

/**/

#listContainer{
	height: 80vh;
	margin-left: 2vh;
	margin-top: 8vh;
	margin-right: 2vh;
}

#requests {
	border: 1px solid #cecece;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 64vh;
	overflow: scroll;
}


body{
	color: #3f3f3f;
}

.collapsible-body{
	padding: 20px;
	padding-top: 20px;
}

.collapsible-header{
	padding-top: 1vh;
}