<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="jquery"></script>
	<script type="text/javascript" src="angular"></script>
	<script type="text/javascript" src="app"></script>
		<script type="text/javascript" src="bower2"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<link rel="stylesheet" type="text/css" href="bower">
	<link rel="stylesheet" type="text/css" href="localCSS">
	<title>Proj</title>
<head>
<body ng-controller="applicationController"  class="grey lighten-3">
<div class="col s12 m12 l12">
    <nav class="grey lighten-3">
       <div class="left nav-wrapper grey lighten-3">
          <a href="#" class="center header-text">EASY FARMING SYSTEM</a>
          <a href="/personnel" class="center">Personnel</a>
          <a href="/plots" class="center">Plot</a>
          <a href="/request" class="center">Request</a>
          <a href="/fertilizer" class="center">Fertilizer</a>
          <a href="/application" class="center">Application</a>
       </div>
    </nav>

 <div id="collectiveContainer" class="row">
 	<div class="col s12">
 		<div id="plotContainer">
 			<h6>REQUEST</h6>
 			<div id="plots" class="white">

	 			<div class="row">
	 				<div class="col s1">
	 					<h6>ID</h6>
	 				</div>
	 				<div class="col s2">
	 					<h6>Planned Date</h6>
	 				</div>
	 				<div class="col s2">
	 					<h6>Actual Date</h6>
	 				</div>
	 				<div class="col s3">
	 					<h6>Application Type</h6>
	 				</div>
	 				<div class="col s2">
	 					<h6>Personnel</h6>
	 				</div>
	 				<div class="col s1">
	 					<h6>Fertilizer ID</h6>
	 				</div>
	 				<div class="col s1">
	 					<h6>Plot ID</h6>
	 				</div>
	 			</div>
				<ul class="collapsible" data-collapsible="accordion">
					<li ng-repeat="a in applicationList">
					    <div class="collapsible-header">
					    	<div class="row">
						    	<div class="col s1">
									<h6>{{a.appid}}</h6>
								</div>
						    	<div class="col s2">
									<h6>{{a.planneddate | date : format : timezone}}</h6>
								</div>
								<div class="col s2">
									<h6>{{a.actualdate | date : format : timezone}}</h6>
								</div>
								<div class="col s3">
									<h6>{{a.applicationtype}}</h6>
								</div>
								<div class="col s2">
									<h6>{{a.username}}</h6>
								</div>
								<div class="col s1">
									<span ng-repeat="b in a.fertilizerList">{{b}}&nbsp;&nbsp;&nbsp;</span>
								</div>
								<div class="col s1">
									<span ng-repeat="b in a.plotList">{{b}}&nbsp;&nbsp;&nbsp;</span>
								</div>
							</div>
					    </div>
						<div class="collapsible-body grey lighten-4">
							<div class="center">
								<h6>EDIT / DELETE</h6>
							</div>
							<div class="row center">
					    		<div class="col s1"><h6>{{a.appid}}</h6></div>
					    		<div class="col s2"><input ng-model="planneddate" value="{{a.planneddate}}" type="text" placeholder="Planned Date" class="validate"/></div>
					    		<div class="col s2"><input ng-model="actualdate" value="{{a.actualdate}}" type="text" placeholder="Actual Date"/></div>
					    		<div class="col s3"><input ng-model="applicationtype" value="{{a.applicationtype}}" type="text" placeholder="Application Type"/></div>
					    		<div class="col s2"><span>{{a.username}}</div>


								<div class="col s1 appplots">
									<form action="#">
									    <div ng-repeat="c in fertilizerList track by $index">
									      <input type="checkbox" id="{{c.fertilizerid}}" ng-model="c.selected" /> <label for="{{c.fertilizerid}}">{{c.fertilizerid}}</label>
									    </div>
									</form>
								</div>

					    		<div class="col s1 appplots">
									<form action="#">
									    <div ng-repeat="z in plotList track by $index">
									      <input type="checkbox" id="{{z.plotid+z.zone+z.row+z.col}}" ng-model="z.selected" /> <label for="{{z.plotid+z.zone+z.row+z.col}}">{{z.plotid}}</label>
									    </div>
									</form>
								</div>


								<button class="btn" ng-click="copy()">Copy</button>
								<button class="btn" ng-click="edit()">Confirm Edit</button>
								<button class="btn" ng-click="delete()">Delete</button>
							</div>
						</div>
					</li>
				</ul>
 			</div>



 		</div>
 	</div>
 </div>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

	<script type="text/javascript" src="/applicationDirective"></script>
	<script type="text/javascript" src="/applicationController"></script>

</body>
