<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="jquery"></script>
	<script type="text/javascript" src="angular"></script>
	<script type="text/javascript" src="app"></script>
	<script type="text/javascript" src="bower2"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<link rel="stylesheet" type="text/css" href="bower">
	<link rel="stylesheet" type="text/css" href="localCSS">
	<title>Proj</title>
<head>
<body class="grey lighten-3" ng-controller="personnelController">
<div class="col s12 m12 l12">
    <nav class="grey lighten-3">
       <div class="left nav-wrapper grey lighten-3">
          <a href="#" class="center header-text">EASY FARMING SYSTEM</a>
          <a href="/personnel" class="center">Personnel</a>
          <a href="/plots" class="center">Plot</a>
          <a href="/request" class="center">Request</a>
          <a href="/fertilizer" class="center">Fertilizer</a>
          <a href="/application" class="center">Application</a>
       </div>
    </nav>

 <div id="collectiveContainer" class="row">
 	<div class="col s9">
 		<div id="plotContainer">
 			<h6>PERSONNEL</h6>
 			<div id="plots" class="white">

	 			<div class="row">
	 				<div class="col s1">
	 					<h6>ID</h6>
	 				</div>
	 				<div class="col s3">
	 					<h6>Username</h6>
	 				</div>
	 				<div class="col s4">
	 					<h6>Full Name</h6>
	 				</div>
	 				<div class="col s2">
	 					<h6>Birthday</h6>
	 				</div>
	 				<div class="col s2">
	 					<h6>Position</h6>
	 				</div>
	 			</div>

	 			

	<ul class="collapsible" data-collapsible="accordion">
		<li ng-repeat="x in personnelList">
		      <div class="collapsible-header">
			    	<div class="row">
				    	<div class="col s1">
							<h6>{{x.userid}}</h6>
						</div>
						<div class="col s3">
							<h6>{{x.username}}</h6>
						</div>
						<div class="col s4">
							<h6>{{x.firstname}} {{x.lastname}}</h6>
						</div>
						<div class="col s2">
							<h6>{{x.birthday | date : format : timezone}}</h6>
						</div>
						<div class="col s2">
							<h6>{{x.position}}</h6>
						</div>
					</div>
		    </div>
			<div class="collapsible-body grey lighten-4">
				<div class="center">
					<h6>EDIT / DELETE</h6>
				</div>
				<div class="row center">
		    		<div class="col s1"><h6>{{x.userid}}</h6></div>
		    		<div class="col s3"><input ng-model="username" value="{{x.username}}" id="usernameField" type="text" placeholder="Username" class="validate"/></div>
		    		<div class="col s2"><input ng-model="firstname" value="{{x.firstname}}" type="text" placeholder="First Name" id="fnameField"/></div>
		    		<div class="col s2"><input ng-model="lastname" value="{{x.lastname}}" type="text" placeholder="Last Name" id="lnameField"/></div>
		    		<div class="col s2"><input ng-model="bday" value="{{x.birthday | date : 'yyyy-MM-dd' }}" type="text" placeholder="Birthday" id="bdayField"/></div>
		    		<div class="col s2"><input ng-model="position" value="{{x.position}}" type="text" placeholder="Position" id="positionField"/></div>

					<button class="btn" ng-click="copy()">Copy</button>
					<button class="btn" ng-click="edit()">Confirm Edit</button>
					<button class="btn" ng-click="delete()">Delete</button>
				</div>
			</div>
		</li>
	</ul>



 			</div>
 		</div>
 	</div>

 	<div class="col s3">
 		<div id="requestContainer">
 			<h6>Add a Personnel</h6>

 			<div class="white" id="requestForm">
				<div class="container">
					  <div>
					    <form>
					    	<div class="row">
					    	    <div class="input-field col s12">
					    			<input placeholder="Username" id="username" type="text" class="validate"/>
					    			<input placeholder="Password" id="password" type="password" class="validate"/>
					    			<input placeholder="First Name" id="fname" type="text" class="validate"/>
					    			<input placeholder="Last Name" id="lname" type="text" class="validate">
					    			<input placeholder="Birthday YYYY-MM-DD" id="bday" type="text" class="validate">
					    			<input placeholder="Position" id="position" type="text" class="validate">
					        	</div>
					        </div>
					    </form>
					  </div>
				</div>
			</div>

 		<div class="center">
 			<button class="btn" ng-click="submit()">SUBMIT</button>
 		</div>
 		</div>
 	</div>
 </div>


		<div id="checkBoxGroup">
			<form>
				<p>
			      <input type="checkbox" id="selectAll"/>
			      <label for="selectAll">Select All</label>
			    </p>
			</form>
		</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

	<script type="text/javascript" src="/personnelDirective"></script>
	<script type="text/javascript" src="/personnelController"></script>

</body>