<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="jquery"></script>
	<script type="text/javascript" src="angular"></script>
	<script type="text/javascript" src="app"></script>
		<script type="text/javascript" src="bower2"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<link rel="stylesheet" type="text/css" href="bower">
	<link rel="stylesheet" type="text/css" href="localCSS">
	<title>Proj</title>
	<style>
	</style>
<head>
<body ng-controller="plotController" class="grey lighten-3">
<div class="col s12 m12 l12">
     <nav class="grey lighten-3">
       <div class="left nav-wrapper grey lighten-3">
          <a href="#" class="center header-text">EASY FARMING SYSTEM</a>
          <a href="/personnel" class="center">Personnel</a>
          <a href="/plots" class="center">Plot</a>
          <a href="/request" class="center">Request</a>
          <a href="/fertilizer" class="center">Fertilizer</a>
          <a href="/application" class="center">Application</a>
       </div>
    </nav>
 </div>

 <div id="collectiveContainer" class="row">
 	<div class="col s9">
 		<div id="plotContainer">
 			<h6>{{title}}</h6>
 			<div id="plots" class="white">

	 			<div class="row">
	 				<div class="col s1">
	 					<h6>ID</h6>
	 				</div>
	 				<div class="col s3">
	 					<h6>Zone</h6>
	 				</div>
	 				<div class="col s4">
	 					<h6>Row</h6>
	 				</div>
	 				<div class="col s4">
	 					<h6>Column</h6>
	 				</div>
	 			</div>

	 			<ul class="collapsible" data-collapsible="accordion">
					<li ng-repeat="x in plotList">
					      <div class="collapsible-header">
						    	<div class="row">
							    	<div class="col s1">
										<h6>{{x.plotid}}</h6>
									</div>
							    	<div class="col s3">
										<h6>{{x.zone}}</h6>
									</div>
									<div class="col s4">
										<h6>{{x.row}}</h6>
									</div>
									<div class="col s4">
										<h6>{{x.col}}</h6>
									</div>
								</div>
					    </div>
						<div class="collapsible-body grey lighten-4">
							<div class="center">
								<h6>EDIT / DELETE</h6>
							</div>
							<div class="row center">
					    		<div class="col s1"><h6>{{x.plotid}}</h6></div>
					    		<div class="col s3"><input ng-model="zone" value="{{x.zone}}" type="text" placeholder="Zone" class="validate"/></div>
					    		<div class="col s4"><input ng-model="row" value="{{x.row}}" type="text" placeholder="Row"/></div>
					    		<div class="col s4"><input ng-model="col" value="{{x.col}}" type="text" placeholder="Col"/></div>

								<button class="btn" ng-click="copy()">Copy</button>
								<button class="btn" ng-click="edit()">Confirm Edit</button>
								<button class="btn" ng-click="delete()">Delete</button>
							</div>
						</div>
					</li>
				</ul>

 			</div>
 		</div>
 	</div>

 	<div class="col s3">
 		<div id="requestContainer">
 			<h6>Add a plot</h6>

 			<div class="white" id="requestForm">
				<div class="container">
					  <div>
					    <form>
					    	<div class="row">
					    	    <div class="input-field col s12">
					    			<input placeholder="Zone" ng-model="plotController.zone" id="zone" type="text" class="validate"/>

					    			<input placeholder="Row" ng-value="row" id="row" type="text" class="validate">
					    			<input placeholder="Column" ng-value="col" id="col" type="text" class="validate">
					        	</div>
					        </div>
					    </form>
					  </div>
				</div>
			</div>

 		<div class="center">
 			<button class="btn" ng-click="submit()">SUBMIT</button>
 		</div>
 		</div>
 	</div>
 </div>


<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

	
	<script type="text/javascript" src="/plotController"></script>
	<script type="text/javascript" src="/headerController"></script>
	<script type="text/javascript" src="/personnelController"></script>

	<script type="text/javascript" src="/plotDirective"></script>
	<script type="text/javascript" src="/headerDirective"></script>
	<script type="text/javascript" src="/personnelDirective"></script>
</body>